@font-face {
  font-family: Etna;
  src: url(../fonts/etna-free-font.otf);
  font-style: normal;
  font-weight: normal;
}

@font-face {
  font-family: Gilory;
  src: url(../fonts/Gilroy-Medium.ttf);
  font-style: normal;
  font-weight: medium;
}

@font-face {
  font-family: Gilory;
  src: url(../fonts/Gilroy-Black.ttf);
  font-style: normal;
  font-weight: bold;
}

@font-face {
  font-family: Gilory;
  src: url(../fonts/Gilroy-Regular.ttf);
  font-style: normal;
  font-weight: normal;
}

@font-face {
  font-family: Gilory;
  src: url(../fonts/Gilroy-Semibold.ttf);
  font-style: normal;
  font-weight: semibold;
}
