body,
h1,
h2,
h3,
h4,
p,
ul,
ol,
li,
figure,
figcaption,
blockquote {
  margin: 0;
}

body {
  min-height: 100vh;
  scroll-behavior: smooth;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
  font-family: Gilory, arial, sans-serif;
}

input,
button,
textarea,
select {
  font: inherit;
}

a {
  text-decoration: none;
  color: inherit;
}

ul {
  list-style: none;
}

.header {
  color: white;
  position: relative;
  background: #0601FE;
  background: -webkit-radial-gradient(circle farthest-side at bottom right, #0601FE 0%, #000000 55%);
  background: -moz-radial-gradient(circle farthest-side at bottom right, #0601FE 0%, #000000 55%);
  background: radial-gradient(circle farthest-side at bottom right, #0601FE 0%, #000000 55%);
}

.header::after {
  z-index: 0;
  position: absolute;
  content: '';
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  background-color: #00000059;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
}

.header__up-box {
  position: relative;
  z-index: 2;
  display: flex;
  justify-content: space-between;
  padding-top: 60px;
}

.header__menu {
  font-family: Gilory, arial, sans-serif;
  font-size: 16px;
  font-weight: medium;
  display: flex;
  justify-content: space-between;
}

.header__menu-item {
  padding-left: 110px;
}

.logo {
  font-family: Etna, sans-serif;
  font-size: 30px;
}

.header__down-box {
  position: relative;
  z-index: 2;
  font-family: Gilory, arial, sans-serif;
  max-width: 438px;
  padding: 160px 0;
}

.header__title {
  font-weight: bold;
  text-transform: uppercase;
  font-size: 76px;
  line-height: 1;
}

.header__content {
  line-height: 1;
  padding-top: 35px;
  font-size: 24px;
}

.box-btns {
  padding-top: 35px;
  display: flex;
  justify-content: space-between;
}

.box-bottons__button {
  cursor: pointer;
  background-color: inherit;
  color: white;
  font-size: 19px;
  border-radius: 10px;
  padding: 10px 40px;
  border: 1px solid rgb(255, 198, 0);
}

.box-bottons__button:hover {
  color: black;
  background-color: rgb(255, 198, 0);
}

.header__img {
  z-index: 2;
  position: absolute;
  bottom: 140px;
  right: 0;
}

.project {
  font-family: ;
}

.subtitle {
  padding-top: 150px;
  font-family: Gilory, arial, sans-serif;
  font-weight: normal;
  font-size: 57px;
}

.project__boxcontent {
  display: flex;
  flex-direction: rows;
  flex-wrap: wrap;
  padding-top: 75px;
}

.project__card {
  max-width: 570px;
}

.project__card:nth-child(2n) {
  padding-left: 40px;
}

.project__card-title {
  padding-bottom: 35px;
  font-size: 24px;
  font-family: Gilory, arial, sans-serif;
}

.project__img {
  width: 100%;
  max-height: 355px;
  object-fit: cover;
}

.project__cart-text {
  padding-top: 35px;
  font-size: 16px;
}
